{% extends 'base.html' %}
{% load static %}
{% block topBar %}
<div class="float-right">
    <form>
        <div >
            <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center hidden" id="editMediaSave" type="submit" action="" method = "POST" value="Save">
        </div>    
    </form>
</div> 
<div class="float-right">
    <form action="{% url 'media-list' col='list' %}", method = "GET">
        <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Cancel">
    </form>
</div>

<div class="float-right">
    <form action=""  id="deleteButtonForm">
        <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Delete" id="deleteMediaButton">
    </form>
</div>
<div class="float-right">
    <form action="{% url 'media-delete' pk=media.id %}" method = "POST" id="confirmDeleteMediaForm">
        {% csrf_token %}
        <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Confirm Delete" id="confirmDelete" style="display: none">  
    </form>
</div>
<div class="float-right">
    <div action="", >
        <input id="allowChangesBtn" class="pt-1 px-2 m-2 h-7 w-auto bg-blue-600 border-black rounded text-sm text-white text-center" type="button" value="Allow Changes">
    </div>
</div>
<div class="float-right">
    <form action="{% url 'entry-create' med=media.id %}", method = "GET">
        <input id="logEntryUsingBtn" class="pt-1 px-1 m-2 h-7 w-auto bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Log entry using this Media.">
    </form>
</div>
<div class="text-center text-xl align-bottom">Media Select or Edit</div>
{% endblock topBar %}
{% block main %}

<form class="mt-5 p-5" id="editMedia" action="{% url 'media-select' pk=media.id %}" method=POST >
      {% csrf_token %}
      {% load widget_tweaks %}
<div class="grid grid-cols-12 gap-1">
    <div class="p-10 row-start-1 row-end-5 col-start-1 col-end-10 sm:col-end-7 md:col-end-5 lg:col-end-4 xl:col-end-3">
        <img class="" src="{% static '/images/defaultbook.png' %}" class="w-48">
    </div>
    <div class="col-start-1 col-end-13 sm:col-start-7   md:col-start-5  lg:col-start-4 lg:col-end-8 xl:col-start-3 xl:col-end-7">
            <!--start column 1-->
            <!--start colunm 2-->
            <div class=" flex-col ">
                <label for="title" class="italic">Title:</label>
                <input id="input_title" class="block pl-2 not-italic text-lg font-bold border border-blue-400 shadow-lg rounded" type="text" size="20" maxlength="100" name="title" value="{{media.title}}" readonly/> 
                <label for="author" class="italic">Author:</label>
                <input id="input_author" class="block pl-2 not-italic text-lg font-bold border border-blue-400 shadow-lg rounded" type="text" size="20" maxlength="100" name="author" value="{{media.author}}" readonly/> 
                <label for="published" class="italic">Published:</label>
                <input id="input_published" class="block pl-2 not-italic text-lg font-bold border border-blue-400 shadow-lg rounded" type="number"  name="published" value="{{media.published}}" placeholder="yyyy" readonly/>
                <label for="subject" class="italic">Subject:</label><br>
                <input id="input_subject" class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" type="text" size="20" name="subject" value="{{media.subject}}" readonly/><br>
                <label for="series" class="italic">Series:</label><br>
                <input id="input_series" class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" type="text" size="30" name="series" value="{{media.series}}" readonly/><br>
                <label for="audience" class="italic">Audience:</label><br>
                <input id="input_audience" class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" type="text" size="20" name="audience" value="{{media.audience}}" readonly/><br>
                <label for="id_author_link" class="italic">Author link:</label><br>
                <input id="input_author_link" class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" type="text" size="20" name="author_link" value="{{media.author_link}}" readonly/><br>
                <label class="italic">Type:</label>
                <div class="flex-row">
                    {% render_field form.media_type type="radio" class="flex flex-row p-1 ml-2 not-italic text-base font-semibold " %}
                   
                                  
                </div>
            </div>
        </div>
        <div class="p-5 col-start-1 col-end-13 sm:col-start-7 sm:col-end-13 md:col-start-5 md:col-end-13 lg:col-start-8 lg:col-end-13 xl:col-start-7 xl:col-end-13">
            <div class="border border-blue-400">
                <div class="bg-white border border-gray-200">
                    <button
                    class="collapsible flex items-center w-auto h-auto px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
                    type="button">Publisher info:</button>
                    <div class="px-5">
                        <label for="promo_desc" class="italic"></label>
                        <textarea  id="input_promo_desc" class="not-italic text-base font-semibold" rows="10" cols="40" name="promo_desc" readonly>{{media.promo_desc}}</textarea>
                    </div>
                    
                    
                    
                </div>
                
            </div>
        </div>         
    </div>    
</form>
    
    <script>
    const deleteP = document.getElementById("deleteMediaButton");
    const deleteC = document.getElementById("confirmDelete"); 
    const save = document.getElementById("editMediaSave");
    const allow = document.getElementById("allowChangesBtn");
    const log = document.getElementById("logEntryUsingBtn");
    deleteP.addEventListener('click', deleteMediaConfirm);
    save.addEventListener('click', submitMediaSave);
    allow.addEventListener('click', allowChanges);

   

    function deleteMediaConfirm(event){
        event.preventDefault();
        document.getElementById("deleteMediaButton").classList.add("hidden");
        document.getElementById("editMediaSave").classList.add("hidden");
        document.getElementById("allowChangesBtn").classList.add("hidden");
        document.getElementById("logEntryUsingBtn").classList.add("hidden");
        deleteP.disabled = true;
        save.disabled = true;   
        allow.disabled = true;   
        log.disabled = true;   
        document.getElementById('confirmDelete').style.display = "inline"
    };
    
    function submitMediaSave(event){
        event.preventDefault();
        document.getElementById("editMedia").submit();
    };

    function allowChanges(event){
        document.getElementById("input_title").readOnly = false;
        document.getElementById("input_author").readOnly = false;
        document.getElementById("input_published").readOnly = false;
        document.getElementById("input_subject").readOnly = false;
        document.getElementById("input_series").readOnly = false;
        document.getElementById("input_audience").readOnly = false;
        document.getElementById("input_author_link").readOnly = false;
        document.getElementById("input_promo_desc").readOnly = false;
        document.getElementById("editMediaSave").classList.remove("hidden");
        document.getElementById("allowChangesBtn").classList.add("hidden")

    }

     //for implementing class "collapsible"
     var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

</script>


{% endblock main %}