{% extends 'base.html' %}

{% block topBar %}
<div class="float-right">
    <form>
        <div >
            <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center" id="editMediaSave" type="submit" action="" method = "POST" value="Save">
        </div>    
    </form>
</div> 
<div class="float-right">
    <form action="{% url 'media-list' col='list' %}", method = "GET">
        <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Cancel">
    </form>
</div>

<div class="float-right">
    <form action=""  id="deleteButtonForm">
        <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Delete" id="deleteMediaButton">
    </form>
</div>
<div class="float-right">
    <form action="{% url 'media-delete' pk=media.id %}" method = "POST" id="confirmDeleteMediaForm">
        {% csrf_token %}
        <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Confirm Delete" id="confirmDelete" style="display: none">  
    </form>
</div>
{% endblock topBar %}
{% block main %}

<div id="main">
    {% include "messages.html" %}
    <div id="container">
        
        <button id="openbtn" class="openbtn" style="display: none" onclick="openNav()">☰</button><br><br> 
        <h1>Media Select </h1>
        <form id="editMedia" action="{% url 'media-edit' pk=media.id %}"method=POST >
            {% csrf_token %}
            {{ form.as_p}}
        </form>
        <br>
    </div>    
</div>    

<script>
    const deleteP = document.getElementById("deleteButtonForm"); 
    const save = document.getElementById("editMediaSave");
    
    deleteP.addEventListener('click', deleteMediaConfirm);
    save.addEventListener('click', submitMediaSave);
   

    function deleteMediaConfirm(event){
        event.preventDefault();
        deleteP.disabled = true;
        save.disabled = true;   
        document.getElementById('confirmDelete').style.display = "inline"
    };
    
    function submitMediaSave(event){
        event.preventDefault();
        document.getElementById("editMedia").submit();
    };

</script>


{% endblock main %}