{% extends 'base.html' %}

{% block main %}

<div>
    {% include "messages.html" %}
    <div>
        <h1>Profile Create </h1>
        <form id="editProfile" action="", method = "POST">
            {% csrf_token %}
            {{ form.as_p}}
            <div class="saveButton">
                <input id="editProfileSave" type="submit" value="Save">
            </div>    
        </form>
        <br>
        <div class="cancelButton">
            <form action="{% url 'media-list' col='list' %}", method = "GET">
                <input type="submit" value="Cancel">
            </form>
        </div>
    
        
        
    </div>    
</div>    

<script>
    

    

</script>


{% endblock main %}