{% extends 'base.html' %} {% load static %} {% block topBar %}
<div class="float-right">
  <form>
    <div>
      <input
        class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center"
        id="createMediaSave"
        type="submit"
        action=""
        method="POST"
        value="Save"
      />
    </div>
  </form>
</div>
<div class="float-right">
  <form action="{% url 'media-list' col='list' %}" , method="GET">
    <input
      class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center"
      type="submit"
      value="Cancel"
    />
  </form>
</div>

<div class="text-center text-xl align-bottom">Source Create</div>

{% endblock topBar %} {% block main %}

<form
  class="mt-5 p-5"
  id="createMedia"
  action="{% url 'media-create' %}"
  method="POST"
>
  {% csrf_token %}
  <div class="grid grid-cols-12 gap-1">
    <div
      class="p-10 row-start-1 row-end-5 col-start-1 col-end-10 sm:col-end-7 md:col-end-5 lg:col-end-4 xl:col-end-3"
    >
      <img class="" src="{% static '/images/defaultbook.png' %}" class="w-48" />
    </div>
    <div
      class="col-start-1 col-end-13 sm:col-start-7 md:col-start-5 lg:col-start-4 lg:col-end-8 xl:col-start-3 xl:col-end-7"
    >
      <!--start column 1-->
      <!--start colunm 2-->
      <div class="flex-col">
        <label for="id_title" class="italic">Title:</label>
        <input
          id="input_title"
          class="block pl-2 not-italic text-lg font-bold border border-blue-400 shadow-lg rounded"
          type="text"
          size="20"
          maxlength="100"
          name="title"
          value="{{media.title}}"
        />
        <label for="id_author" class="italic">Author:</label>
        <input
          id="input_author"
          class="block pl-2 not-italic text-lg font-bold border border-blue-400 shadow-lg rounded"
          type="text"
          size="20"
          maxlength="100"
          name="author"
          value="{{media.author}}"
        />
        <label for="id_actors" class="italic">Actors:</label>
        <input
          id="input_actors"
          class="block pl-2 not-italic text-lg font-bold border border-blue-400 shadow-lg rounded"
          type="text"
          size="20"
          maxlength="100"
          name="actors"
          value="{{media.actors}}"
        />
        <label for="id_published" class="italic">Published:</label>
        <input
          id="input_published"
          class="block pl-2 not-italic text-lg font-bold border border-blue-400 shadow-lg rounded"
          type="number"
          name="published"
          value="{{media.published}}"
          placeholder="yyyy"
        />
        <label for="id_subject" class="italic">Subject:</label><br />
        <input
          id="input_subject"
          class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
          type="text"
          size="20"
          name="subject"
          value="{{media.subject}}"
        /><br />
        <label for="id_series" class="italic">Series:</label><br />
        <input
          id="input_series"
          class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
          type="text"
          size="30"
          name="series"
          value="{{media.series}}"
        /><br />
        <label for="id_audience" class="italic">Audience:</label><br />
        <input
          id="input_audience"
          class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
          type="text"
          size="20"
          name="audience"
          value="{{media.audience}}"
          y
        /><br />
        <label for="id_author_link" class="italic">Author link:</label><br />
        <input
          id="input_author_link"
          class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
          type="text"
          size="20"
          name="author_link"
          value="{{media.author_link}}"
          y
        /><br />
        <label for="id_media_type" class="italic">Type:</label><br />
        <select
          id="input_type"
          class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
          name="media_type"
          value="{{media.media_type}}"
        >
          <option value="TEXT">Text</option>
          <option value="VIDEO">Video</option>
          <option value="AUDIBLE">Audible</option></select
        ><br />
      </div>
    </div>
    <div
      class="p-5 col-start-1 col-end-13 sm:col-start-7 sm:col-end-13 md:col-start-5 md:col-end-13 lg:col-start-8 lg:col-end-13 xl:col-start-7 xl:col-end-13"
    >
      <div class="">
        <div class="bg-white ">
          <button
            class="collapsible flex items-center w-auto h-auto px-1 text-base text-gray-800 text-left bg-white transition focus:outline-none"
            type="button"
          >
            Publisher info:
          </button>
          <div class="px-3">
            <label for="id_promoDesc" class="italic"></label>
            <textarea
              id="input_promo_desc"
              class="not-italic text-base"
              rows="15"
              cols="50"
              name="promo_desc"
            >
                {{media.promo_desc}}
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  const save = document.getElementById("createMediaSave");

  const log = document.getElementById("logEntryUsingBtn");

  save.addEventListener("click", submitMediaSave);

  function submitMediaSave(event) {
    event.preventDefault();
    document.getElementById("createMedia").submit();
  }

  //for implementing class "collapsible"
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>

{% endblock main %}
