{% extends 'base.html' %}
{% load static %}
        {% block sideBar %}
        <br>
        <p>Clear search and all Filters:</p>
        <button onclick="searchMediaTbody('clearAll')" id="btn-ClearAllMediaTable" class="" type="button">> Clear All</button>
        <br>    
        <br>
            <p>Search the text in title, author, and actor columns.</p>
            <input id="mediaSearchInput" type="text" placeholder="Search"/>
            <br><br>
            <p>FILTERS:</p> 
            <div id="filters">
                
                <button id="btn-TypeMediaTable" class="btn" data-toggle="collapse"
                    data-target="#choose-type">> By Source type:</button>

                <div id="choose-type" class="hidden">
                    <table class="table table-bordered table-sortable" id="mediaTypeTable">
                        <thread>
                            <tr>
                            </tr>
                        </thread>
                        <tbody id="filterTbodyByType">
                            <tr>
                                <td class="pl-5">
                                    <input onclick="searchMediaTbody('ckBox')" id="TEXT" name="typeFilter" type="checkbox" value="Text">
                                    <label for="inputType">Text</label>
                                </td>
                                <td class="pl-5">
                                    <input onclick="searchMediaTbody('ckBox')" id="AUDIBLE" name="typeFilter" type="checkbox" value="Audible">
                                    <label for="inputType">Audible</label>
                                </td>
                                <td class="pl-5">
                                    <input onclick="searchMediaTbody('ckBox')" id="VIDEO" name="typeFilter" type="checkbox" value="Video">
                                    <label for="inputType">Video</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><br>
            
            
                <button id="btn-RatingMediaTable" class=""
                    >> By rating(s):</button>

                <div id="choose-rating" class="hidden">
                    <table class="table table-bordered table-sortable" id="ratingTable">
                        <thread>
                            <tr>
                                <td class="pl-5">
                                    <input onclick="searchMediaTbody('ckBox')" id="0.00" name="ratingFilter" type="checkbox" value="0.00">
                                    <label for="inputType">0</label>
                                </td>
                                <td class="pl-5">
                                    <input onclick="searchMediaTbody('ckBox')" id="1.00" name="ratingFilter" type="checkbox" value="1.00">
                                    <label for="inputType">1</label>
                                </td>
                                <td class="pl-5">
                                    <input onclick="searchMediaTbody('ckBox')" id="2.00" name="ratingFilter" type="checkbox" value="2.00">
                                    <label for="inputType">2</label>
                                </td>
                                <td class="pl-5">
                                    <input onclick="searchMediaTbody('ckBox')" id="3.00" name="ratingFilter" type="checkbox" value="3.00">
                                    <label for="inputType">3</label>
                                </td>
                                </tr>
                                <tr>
                                <td class="pl-5">
                                    <input onclick="searchMediaTbody('ckBox')" id="3.50" name="ratingFilter" type="checkbox" value="3.50">
                                    <label for="inputType">3.5</label>
                                </td>
                                <td class="pl-5">
                                    <input onclick="searchMediaTbody('ckBox')" id="4.00" name="ratingFilter" type="checkbox" value="4.00">
                                    <label for="inputType">4</label>
                                </td>
                                <td class="pl-5">
                                    <input onclick="searchMediaTbody('ckBox')" id="4.50" name="ratingFilter" type="checkbox" value="4.50">
                                    <label for="inputType">4.5</label>
                                </td>
                                <td class="pl-5">
                                    <input onclick="searchMediaTbody('ckBox')" id="5.00" name="ratingFilter" type="checkbox" value="5.00">
                                    <label for="inputType">5</label>
                                </td>
                            </tr>
                        </thread>
                        <tbody id="filterTbodyByRating">


                        </tbody>
                    </table>
                </div><br>
            </div>       

        {% endblock sideBar%}

        {% block topBar %}
        
        <div class=" float-right">
            <form action="{% url 'media-create' %}", method="POST">
                {% csrf_token %}
                <input class="pt-1 px-1 m-2 h-7 w-auto bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Add New">
            </form>
        </div>
    
        
        {% endblock topBar%}
        {% block main %}

        <div id="main" class="inline-block overflow-scroll w-auto px-4 m-4 bg-gray-400">
            {% include "messages.html" %}
            
            <div class="block h-screen" id="mediaListTable">
                <div class=" bg-white ">
                    <table class="" id="mediaTable">
                        <thead class="bg-blue-100 border border-blue-800 sticky top-0">
                            <tr>
                                <td></td>
                                <td class="text-xl font-semibold">Source List</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="">                              
                                <th class="px-4 text-xl text-left"> Title</th>
                                <th class="px-4 text-xl text-left"> Author</th>
                                <th class="px-4 text-xl text-left"> Actors</th>
                                <th class="px-4 text-xl text-left"> Subject</th>
                                <th class="px-4 text-xl text-left"> Type</th>           
                                <th class="px-4 text-xl text-left"> Select</th>
                                <th class="px-4 text-xl text-left"> </th>
                                <th class="px-4 text-xl text-left"> Average</th>

                            </tr>
                            <tr class="table-row">
                                <th class="pl-4 text-left"><a href='{% url "media-list" col="title" %}' method="GET"</a>Des <span>/</span>   <span><a class="" href='{% url "media-list" col="-title" %}' method="GET"</a>Asc</span></th>
                                <th class=""><a href='{% url "media-list" col="author" %}' method="GET"</a>Des<span>/</span>     <span><a href='{% url "media-list" col="-author" %}' method="GET"</a>Asc</span></th>
                                <th class=""><a href='{% url "media-list" col="actors" %}' method="GET"</a>Des<span>/</span>     <span><a href='{% url "media-list" col="-actors" %}' method="GET"</a>Asc</span></th> 
                                <th class=""><a href='{% url "media-list" col="subject" %}' method="GET"</a>Des<span>/</span>     <span><a href='{% url "media-list" col="-subject" %}' method="GET"</a>Asc</span></th> 
                                <th class=""><a href='{% url "media-list" col="media_type" %}' method="GET"</a>Des<span>/</span>     <span><a href='{% url "media-list" col="-media_type" %}' method="GET"</a>Asc</span></th>
                                <th class="">to start </th>                
                                <th class=""></th>                
                                <th class="">click to view </th>                
                            </tr>
                        </thead>
                        <tbody class="" id="mediaTbody">
                            {% for media in media %}
                            <tr class="border border-gray-400" id= "media- + {{media.id}}" >
                                <td class="" style="display:none" id="mediaId">{{media.id}}</td>
                                <td class=" p-2"id="mediaTitle">{{media.title}}</td>
                                <td class="" id="mediaAuthor">{{media.author}}</td>
                                <td class="" id="mediaActors">{{media.actors}}</td>
                                <td class="" id="mediaSubject">{{media.subject}}</td>
                                <td class="" id="mediaType">{{media.media_type}}</td>
                                <td class="" style="display:none" id="mediaReader">{{media.reader}}</td>
                                <td class="" style="display:none" id="mediaAudience">{{media.audience}}</td>
                                <dtdclass="table-cell" style="display:none" id="mediaPromodesc">{{media.promo_desc}}</td>
                                <td class="pr-4 text-blue-600">
                                <a href={% url 'media-select' pk=media.id %} id="btn-editEntry" class="btn btn-default" roll="button">Select</a>                  
                                </td>
                                <td class="invisible" id="mediaAveRating">{{media.ave_rating}}</td>
                                <td class="w-1/12 mb-2 relative ">
                                    <div style="width: calc(20% * {{media.ave_rating}})" class="bg-yellow-300 h-4 top-0 bottom-0 mt-2 z-10 absolute">`</div> 
                                    <a href={% url 'entry-select' med=media.id %} id="btn-editEntry" roll="button">
                                    <img src="{% static '/images/stars.png' %}"  alt="{{media.ave_rating}}" title="{{media.ave_rating}}" class="top-0 bottom-0 mt-2 z-20 w-full absolute">   
                                    </a>                  
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
</div>    


        {% endblock main %}