{% extends 'base.html' %}

{% block main %}

<div id="main">
    {% include "messages.html" %}
    <div id="container">
        
        <button id="openbtn" class="openbtn" style="display: none" onclick="openNav()">☰</button><br><br> 
        <h1>Media Detail </h1>
        <form id="editMedia" action="", method = "POST">
            {% csrf_token %}
            {{ form.as_p}}

            <div class="saveButton">
                <input id="editMediaSave" type="submit" value="Save">
            </div>    
        </form>
        <br>
        {% block topBar %}    
        <div class="cancelButton">
            <form action="{% url 'media-list' col='list' %}", method = "GET">
                <input type="submit" value="Cancel">
            </form>
        </div>
    
        <div class="deleteButton">
            <form action=""  id="deleteButtonForm">
                {% csrf_token %}
                <input type="submit" value="Delete" id="deleteMediaButton">
            </form>
            </form>
        </div>
        <div class="confirmDeleteButton">
            <form action="{% url 'media-delete' pk=media.id %}" method = "POST" id="confirmDeleteMediaForm">
                {% csrf_token %}
                <input  type="submit" value="Confirm Delete" id="confirmDelete" style="display: none">  
            </form>
        </div>
        {% endblock topBar %}
    </div>    
</div>    

<script>
    const deleteP = document.getElementById("deleteButtonForm");
    const deleteC = document.getElementById("confirmDelete"); 
    const save = document.getElementById("editMediaSave");
    deleteP.addEventListener('click', deleteMediaConfirm);
   

    function deleteMediaConfirm(event){
        event.preventDefault();
        deleteP.disabled = true;
        save.disabled = true;   
        document.getElementById('confirmDelete').style.display = "inline"
    };  

</script>


{% endblock main %}