{% extends 'base.html' %}
{% load static %}
{% block topBar %}
<div class="float-right">
    <form>
        <div >
            <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center hidden" id="editMediaSave" type="submit" action="" method = "POST" value="Save">
        </div>    
    </form>
</div> 
<div class="float-right">
    <button onclick="history.back()" class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center">Cancel</button>

</div>

<div class="float-right">
    <form action=""  id="deleteButtonForm">
        <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Delete" id="deleteMediaButton">
    </form>
</div>
<div class="float-right">
    <form action="{% url 'media-delete' pk=media.id %}" method = "POST" id="confirmDeleteMediaForm">
        {% csrf_token %}
        <input class="pt-1 m-2 h-7 w-auto bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Confirm Delete" id="confirmDelete" style="display: none">  
    </form>
</div>
<div class="float-right">
    <div action="", >
        <input id="allowChangesBtn" class="pt-1 px-2 m-2 h-7 w-auto bg-blue-600 border-black rounded text-sm text-white text-center" type="button" value="Edit">
    </div>
</div>
<div class="float-right">
    <form action="{% url 'entry-create' med=media.id %}", method = "GET">
        <input id="logEntryUsingBtn" class="pt-1 px-1 m-2 h-7 w-auto bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Log entry">
    </form>
</div>
<div class="text-center text-xl align-bottom">Source</div>
{% endblock topBar %}

{% block sideBar%}
  <div class="pt-10 pr-10 lg:pr-20 xl:pr-15">
    <img class="" src="{% static '/images/defaultbook.png' %}" class="w-48">
  </div>

{% endblock sideBar%}

{% block main %}
<div class="col-start-2 col-end-6">
<form class="mt-1 p-1" id="editMedia" action="{% url 'media-select' pk=media.id %}" method=POST >
      {% csrf_token %}
      {% load widget_tweaks %}
  <div class="grid grid-cols-4  md:gap-6 lg:gap-8" >
    
    <div class="col-start-1 col-end-5">  
        <label for="id_media_type" class="italic">Type: (is read only)</label>
        <div class="flex-col">
            <input onclick="return false;" type="radio" name=media_type value="TEXT" {% if media.media_type == "TEXT" %}checked{% endif %} readonly /> Text
            <input onclick="return false;" type="radio" name=media_type value="AUDIBLE" {% if media.media_type == "AUDIBLE" %}checked{% endif %} readonly /> Audible
            <input onclick="return false;" type="radio" name=media_type value="VIDEO" {% if media.media_type == "VIDEO" %}checked{% endif %} readonly /> Video  
        </div> 
      </div>
      <div class="col-span-4 sm:col-span-4 md:col-span-4 lg:col-start-1 lg:col-end-3 xl:col-start-1 xl:col-end-3">   
        <div class="">
          <label id="label_title" for="id_title" class="italic">Title: (is read only)</label>
          <input
            id="input_title"
            class="block pl-2 py-1 w-full not-italic text-base font-semibold border border-blue-400 shadow-lg rounded "
            type="text"
            maxlength="100"
            name="title"
            value="{{media.title}}"
            readonly
          />
        </div>
      </div>
      <div class="col-start-1 col-end-5 sm:col-start-1 sm:col-end-5 md:col-start-1 md:col-end-5 lg:col-start-3 lg:col-end-5 xl:col-start-3 xl:col-end-5">  
        <div class="" > 
          <label id="label_author" for="id_author" class="italic">Author: (is read only)</label>
          <input
            id="input_author"
            class="block pl-2 py-1 w-full not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
            type="text"
            maxlength="100"
            name="author"
            value="{{media.author}}"
            readonly
          />
          </div>
      </div>
      <div class="col-span-4 sm:col-span-4 md:col-span-4 lg:col-start-1 lg:col-end-3 xl:col-start-1 xl:col-end-3">    
        <label id="label_reader" for="id_reader" class="italic">Reader: (is read only)</label>
        <input
          id="input_reader"
          class="block pl-2 py-1 w-full not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
          type="text"
          maxlength="100"
          name="reader"
          value="{{media.reader}}"
          readonly
        />        
      </div>  
      <div class="col-start-1 col-end-5 sm:col-start-1 sm:col-end-5 md:col-start-1 md:col-end-5 lg:col-start-3 lg:col-end-5 xl:col-start-3 xl:col-end-5"> 
        <label id="label_actors" for="id_actors" class="italic">Actors: (is read only)</label>
        <input
          id="input_actors"
          class="block pl-2 py-1 w-full not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
          type="text"
          maxlength="100"
          name="actors"
          value="{{media.actors}}"
          readonly
        />
      </div>
      <div class="col-span-4 sm:col-span-4 md:col-span-4 lg:col-start-1 lg:col-end-3 xl:col-start-1 xl:col-end-3">  
        <label id="label_subject" for="id_subject" class="italic">Subject: (is read only)</label><br />
        <input
        id="input_subject"
        class="pl-2 py-1 w-full not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
        type="text"
        name="subject"
        value="{{media.subject}}"
        readonly
        />
      </div>
      <div class="col-start-1 col-end-5 sm:col-start-1 sm:col-end-5 md:col-start-1 md:col-end-5 lg:col-start-3 lg:col-end-5 xl:col-start-3 xl:col-end-5">    
        <label id="label_audience" for="id_audience" class="italic">Audience: (is read only)</label><br />
        <input
        id="input_audience"
        class="pl-2 py-1 w-full not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
        type="text"
        name="audience"
        value="{{media.audience}}"
        readonly
        />
      </div>
      <div class="col-span-4 sm:col-span-4 md:col-span-4 lg:col-start-1 lg:col-end-3 xl:col-start-1 xl:col-end-3">    
        <label id="label_series" for="id_series" class="italic">Series: (is read only)</label><br />
        <input
        id="input_series"
        class="pl-2 py-1 w-full not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
        type="text"
        name="series"
        value="{{media.series}}"
        readonly
        />
      </div>
      <div class="col-start-1 col-end-5 sm:col-start-1 sm:col-end-5 md:col-start-1 md:col-end-5 lg:col-start-3 lg:col-end-5 xl:col-start-3 xl:col-end-5">    
          <label id="label_published" for="id_published" class="italic">Published: (is read only)</label>
          <input
            id="input_published"
            class="block pl-2 py-1 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
            type="number"
            size="6"
            min="4"
            max="4"
            name="published"
            value="{{media.published}}"
            placeholder="yyyy"
            readonly
          />
      </div>
      <div class="col-start-1 col-end-3 ">    
          <label id="label_author_link" for="id_author_link" class="italic">Author link: (is read only)</label><br />
          <input
            id="input_author_link"
            class="pl-2 py-1 w-80 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded"
            type="text"
            name="author_link"
            value="{{media.author_link}}"
            readonly
          />
        </div>

   
        <div class="col-start-1 col-end-3  ">
            <div class="">
                <div class="bg-white ">
                    <button 
                    class="collapsible flex items-center w-auto h-auto px-1 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none focus:visible"
                    type="button">Publisher info: (is read only)</button>
                    <div class="px-3 ">
                        <label id="label_promo_desc" for="promo_desc" class="italic"></label>
                        <textarea  id="input_promo_desc" class="not-italic text-base border border-blue-400 shadow-lg rounded" rows="10" cols="75" name="promo_desc" placeholder="Enter or 'paste' publisher information here." readonly>{{media.promo_desc}}</textarea>
                    </div>                
                    
                </div>
                
            </div>
        </div>
      </div>              
</form>
</div>
    
    <script>
    const deleteP = document.getElementById("deleteMediaButton");
    const deleteC = document.getElementById("confirmDelete"); 
    const save = document.getElementById("editMediaSave");
    const allow = document.getElementById("allowChangesBtn");
    const log = document.getElementById("logEntryUsingBtn");
    deleteP.addEventListener('click', deleteMediaConfirm);
    save.addEventListener('click', submitMediaSave);
    allow.addEventListener('click', allowChanges);

   

    function deleteMediaConfirm(event){
        event.preventDefault();
        document.getElementById("deleteMediaButton").classList.add("hidden");
        document.getElementById("editMediaSave").classList.add("hidden");
        document.getElementById("allowChangesBtn").classList.add("hidden");
        document.getElementById("logEntryUsingBtn").classList.add("hidden");
        deleteP.disabled = true;
        save.disabled = true;   
        allow.disabled = true;   
        log.disabled = true;   
        document.getElementById('confirmDelete').style.display = "inline"
    };
    
    function submitMediaSave(event){
        event.preventDefault();
        document.getElementById("editMedia").submit();
    };

    function allowChanges(event){
        document.getElementById("label_title").innerHTML = 'Title:';
        document.getElementById("input_title").readOnly = false;
        document.getElementById("label_author").innerHTML = 'Author:';
        document.getElementById("input_author").readOnly = false;
        document.getElementById("label_actors").innerHTML = 'Actors:';
        document.getElementById("input_actors").readOnly = false;
        document.getElementById("label_reader").innerHTML = 'Reader:';
        document.getElementById("input_reader").readOnly = false;
        document.getElementById("label_published").innerHTML = 'Published:';
        document.getElementById("input_published").readOnly = false;
        document.getElementById("label_subject").innerHTML = 'Subject'
        document.getElementById("input_subject").readOnly = false;
        document.getElementById("label_series").innerHTML = 'Series';
        document.getElementById("input_series").readOnly = false;
        document.getElementById("label_audience").innerHTML = 'Audience:';
        document.getElementById("input_audience").readOnly = false;
        document.getElementById("label_author_link").innerHTML = 'Author link:';
        document.getElementById("input_author_link").readOnly = false;
        document.getElementById("label_promo_desc").innerHTML = 'Publisher info:';
        document.getElementById("input_promo_desc").readOnly = false;
        document.getElementById("editMediaSave").classList.remove("hidden");
        document.getElementById("allowChangesBtn").classList.add("hidden")

    }

    

</script>


{% endblock main %}