<!DOCTYPE html>
<html lang="en">    
<head>
    <script src="/static/admin/js/core.js"></script>
    
   
    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/apps.js"></script>
   

    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">     -->
    <!-- needed for modal -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <link rel="stylesheet" href="/static/styles/main.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Log</title>
    {% block extra_css %}

    {% endblock %}    
</head>
<body onload="getSearchEvent()">
    <div class="container">
        <div id="mySideBarX" class="closeButton">
            <p class="closeButton" onclick="closeNav()">X</p>
        </div>
        
        <div id="mySideBar" class="sidebar">
            <br>
            <p>Search the text in title, author, and actor columns.</p>
            <input id="mediaSearchInput" type="text" placeholder="Search"/>
            <br>
            
            <div>
                <a href="{% url "profile-list" %}" method="GET" id="btn-addUser" class="btn btn-default" class="btnnav" roll="button">User List</a>
            </div>
            <br>

            <div>
                <a href='{% url "media-list" col="list" %}' method="GET" id="btn-addMedia" class="btn btn-default" roll="button">Media List</a>
            </div>
            <br>

            
            <div>
                <a href="" method="POST" id="btn-addEntry" class="btn btn-default" roll="button">Add a New Entry</a>       
            </div>
            <br><br>
            
        
            <p>FILTERS:</p> 
            <div id="filters">
                <button id="btn-UserTable" class="btn" data-toggle="collapse" 
                    data-target="#divchoose-users">> By user(s):</button><br>

                    <div id="divchoose-users" class="collapse in">
                        <table class="table table-bordered table-sortable" id="choose-users">
                            <thread>
                                <tr>
                                </tr>
                            </thread>
                            <tbody id="filterTbodyByUser">


                            </tbody>
                        </table>
                    </div>
                    <br>
            
            
                <button id="btn-StatusTable" class="btn" data-toggle="collapse"
                    data-target="#divchoose-status">> By status(s):</button><br>
                    
                    <div id="divchoose-status" class="collapse in">
                        <table class="table table-bordered table-sortable" id="choose-status">
                            <thread>
                                <tr>
                                </tr>
                            </thread>
                            <tbody id="filterTbodyByStatus">
                            </tbody>
                    </table>
                </div><br>
                
                
            
            
                <button id="btn-mediaTypeTable" class="btn" data-toggle="collapse"
                    data-target="#choose-type">> By media type:</button><br>

                <div id="choose-type" class="collapse in">
                    <table class="table table-bordered table-sortable" id="mediaTypeTable">
                        <thread>
                            <tr>
                            </tr>
                        </thread>
                        <tbody id="filterTbodyByType">
                        </tbody>
                    </table>
                </div><br>
            
            
                <button id="btn-ratingTable" class="btn" data-toggle="collapse"
                    data-target="#choose-rating">> By rating(s):</button><br>

                <div id="choose-rating" class="collapse in">
                    <table class="table table-bordered table-sortable" id="ratingTable">
                        <thread>
                            <tr>
                            </tr>
                        </thread>
                        <tbody id="filterTbodyByRating">


                        </tbody>
                    </table>
                </div><br>
            </div>       
        </div>
        {% block content %}
       

        
        {% endblock %}

    </div>

     
       
</body>
</html>