<!DOCTYPE html>
<html lang="en">    
<head>
    <script src="/static/admin/js/core.js"></script>
    {% load widget_tweaks %}
    {% load static %}
   
    
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">     -->
    <!-- needed for modal -->
  
   
    
    <link rel="stylesheet" type="text/css" href="/static/styles/output.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    
    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/apps.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entertainment Journal</title>
    {% block extra_css %}
    
    {% endblock %}    
</head class="">
<body class="" onload="getSearchEvent()" hx-headers='{"X-CSRFToken": "{{ csrf_token}}"}'>
    {% load widget_tweaks %}    

<div id="myNavBar" class="sticky top-0 z-2 opacity-1">
    <!--Top Nav Bar -->
    <div class="">
        <p class="text-center text-2xl italic">Entertainment Journal</p>
    </div>
    <div id="" class="flex-row w-full h-12 bg-blue-100 sm:bg-yellow-100 md:bg-green-100 lg:bg-purple-200 xl:bg-red-100 border-2 border-black opacity-1">
        <div class="float-left">
            <button id="mySideNavOpen" class="block sm:block md:hidden lg:hidden xl:hidden w-10 m-2 text-center text-white bg-blue-600 border-black rounded h-7" onclick="openNav()">☰</button>
        </div>
        
        
        <div class="float-right pt-1 m-2 text-sm text-center text-black bg-white border-black rounded h-7 w-19 ">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn">Login/Sign Up</a>
            {% endif %}
        </div>
        
        <div class="float-left">
            <button id="mySideNavClose" onclick="closeNav()" class="hidden sm:hidden md:block lg:block xl:block float-left w-10 m-2 text-center text-white bg-blue-600 border-black rounded h-7">X</button>
        </div>    
        {% block topBar %}
        
        {% endblock topBar %}
   
    </div>
</div>    
<div class="grid grid-cols-5 gap-1 ">
    <div id="mySideBar" class="col-span-6 sm:col-span-6 md:col-span-1 lg:col-span-1 xl:col-span-1 hidden sm:hidden md:block lg:block xl:block">

      
        <div id="" class="inline-block w-full p-4 m-4 ">
            <div>
                <p>Current User is: {{user.first_name}}</p>
            </div>
            <div>
                <a href='{% url "profile-list" %}' method="GET" id="btn-addUser" class="underline"  roll="button">User List</a>
            </div>
            <br>
            
            <div>
                <a href='{% url "media-list" col="list" %}' method="GET" id="" class="underline" roll="button">Source List</a>
            </div>
            <br>
                
            <div>
                <a href='{% url "entry-list" col="list" %}' method="GET" id="" class="underline" roll="button">Entry List</a>       
            </div>
            <br>
            <div>
                <a href='{% url "tag-list" %}' method="GET" id="" class="underline" roll="button">Tag List</a>       
            </div>
            <br>
            <div>    
                <div class ="h-5 w-20 bg-color-red z-10"></div>
                <img class="" src="{% static '/images/stars.png' %}" class="w-48 z-20">
                <p class="italic">Filtered <span id="filteredCount" class="italic">0</span><span class="italic"> of</span></p>
                <p id="totalCount"class="italic">{{count.total}} total records</p>     
            </div>
    
            {% block sideBar %}
            
            {% endblock sideBar %}
        </div>
    </div>   
    

    <div id="mySideRight" class="col-span-5 sm:col-span-5 md:col-start-2 md:col-end-6 lg:col-start-2 lg:col-end-6 xl:col-start-2 xl:col-end-6">
        
        
        <!--end of top Nav Bar-->
        <!--beginning of main Screen--> 
        
        {% block main %}

    
        {% endblock main %} 
        
    </div>
</div>
  

 <script src="https://unpkg.com/htmx.org@1.1.0"></script>
    
       
</body>
</html>