<!DOCTYPE html>
<html lang="en">    
<head>
    <script src="/static/admin/js/core.js"></script>
    {% load widget_tweaks %}
    {% load static %}
   
    
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">     -->
    <!-- needed for modal -->
  
   
    
    <link rel="stylesheet" type="text/css" href="/static/styles/output.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    
    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/apps.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entertainment Journal</title>
    {% block extra_css %}
    
    {% endblock %}    
</head class="h-full">
<body class="h-full" onload="getSearchEvent()" hx-headers='{"X-CSRFToken": "{{ csrf_token}}"}'>
    {% load widget_tweaks %}    

<div id="myNavBar" class="sticky top-0">
    <!--Top Nav Bar -->
    <div class="text-center text-2xl italic">Entertainment Journal</div>
    <div id="" class="flex-row w-full h-12 bg-blue-100 border-2 border-black">
        <div id="mySideNavOpen" class="hidden float-left w-10 m-2 text-center text-white bg-blue-600 border-black rounded h-7 " onclick="openNav()">☰</div>
        
        <div class="float-right pt-1 m-2 text-sm text-center text-black bg-white border-black rounded h-7 w-19 ">
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn">Login/Sign Up</a>
            {% endif %}
        </div>
        
        
        <div id="mySideNavClose" class="float-left w-10 mt-2 mr-2 text-center text-white bg-blue-600 border-black rounded h-7 "> 
            <p class="" type="button" onclick="closeNav()">X</p>
        </div>
    
    {% block topBar %}
    
    {% endblock topBar %}    
    </div>
</div>    
<div class="grid grid-cols-8 gap-1 ">
    <div id="mySideBar" class="col-start-1 col-end-3">

      
        <div id="" class="inline-block h-screen w-full p-4 m-4 bg-blue-100">
            <div>
                <p>Current User is: {{user.first_name}}</p>
            </div>
            <div>
                <a href='{% url "profile-list" %}' method="GET" id="btn-addUser" class="underline"  roll="button">User List</a>
            </div>
            <br>
            
            <div>
                <a href='{% url "media-list" col="list" %}' method="GET" id="" class="underline" roll="button">Source List</a>
            </div>
            <br>
                
            <div>
                <a href='{% url "entry-list" col="list" %}' method="GET" id="" class="underline" roll="button">Entry List</a>       
            </div>
            <br>
            <div>
                <a href='{% url "tag-list" %}' method="GET" id="" class="underline" roll="button">Tag List</a>       
            </div>
            <br>
            <div>    
                <div class ="h-5 w-20 bg-color-red z-10"></div>
                <img class="" src="{% static '/images/stars.png' %}" class="w-48 z-20">     
            </div>
    
            {% block sideBar %}
            
            {% endblock sideBar %}
        </div>
    </div>   
    

    <div id="mySideRight" class="col-start-3 col-end-9">
        
        
        <!--end of top Nav Bar-->
        <!--beginning of main Screen--> 
        
        {% block main %}

    
        {% endblock main %} 
        
    </div>
</div>
  

 <script src="https://unpkg.com/htmx.org@1.1.0"></script>
    
       
</body>
</html>