<!DOCTYPE html>
<html lang="en">

<head>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/static/styles/main.css">


    <title>Entry Create Theme</title>
</head>

<body>
    <!--nav row in two columns-->
    <div class="grid grid-cols-8 gap-1 ">
        <!--nav row 1-->
        <div class="flex-row col-start-1 col-end-3 bg-gray-200 sticky top-0">
            <div class="bg-blue-100 h-12 border-2 border-black">
                <div class="m-2  h-7 w-10 bg-blue-600 border-black rounded text-white text-center float-left">☰</div>
                <div class="mt-2 mr-2 h-7 w-10 bg-blue-600 border-black rounded text-white text-center float-right">X
                </div>
            </div>
        </div>
        <!--nav row 2-->
        <div class="col-start-3 col-end-9 flex-row bg-blue-100 w-full h-12 border-2 border-black sticky top-0">
            <div class="pt-1 m-2  h-7 w-19 bg-white border-black rounded text-sm text-black text-center float-right">
                LogIn/SignUp</div>
            <div <div
                class="pt-1 m-2  h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center float-right">
                Cancel</div>
            <div class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center float-right">
                Save
            </div>
            <div class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center float-right">
                Delete</div>
            <div class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center float-right">
                Confirm</div>
        </div>
    </div>
    <!--End of nav bar in two columns-->

    <!--Beginning two Column content-->
    <div class="grid grid-cols-8 flex-col gap-1">
        <!--content colunm 1-3-->
        <div class="col-start-1 col-end-3 h-screen overflow-auto bg-gray-200">
            <div class="m-4">
                <label class="">User:</label><br>
                <input id="mediaSearchInput" class="p-1 bg-gray-100 h-8 border border-black shadow-lg" type="select" />
            </div>
            <div class="m-4">
                <button class="">Go to entry list</button>
            </div>
            <div class="m-4">
                <button class="">Go to media list</button>
            </div>
            <div class="m-4">
                <button class="">Go to tag list.</button>
            </div>
            <div class="m-4">
                <button class="">Go to user list</button>
            </div>


        </div>
        <!--end content column 1-3-->

        <!--beginning content column 3-9-->
        <div class="col-start-3 col-end-9 h-screen overflow-auto">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
                <!--start column 1-->
                <div class=" p-10 bg-green-200 row-start-1 row-end-5">
                    <img src="https://m.media-amazon.com/images/I/51YfQ8bV9wS.jpg" class="w-48">
                </div>
                <!--start colunm 2-->
                <div class="p-5 sm:pt-10  bg-blue-100 ">
                    <p class="italic">Title: <span class="indent-2 not-italic text-lg font-bold">Some Crazy Long
                            Title</span></p>
                    <p class="italic">Author: <span class="indent-2 not-italic text-lg font-bold">John Grisham</span>
                    </p>
                    <p class="italic">Published: <span class="indent-2 not-italic text-lg font-bold">1997</span></p>
                </div>
                <div class="p-5 sm:pt-10 lg:pt-10 bg-blue-100 ">
                    <p class="italic">Type: <span class="not-italic text-base font-semibold">Audible</span></p>
                    <p class="italic">Subject: <span class="not-italic text-base font-semibold">Fiction</span></p>
                    <p class="italic">Audience: <span class="not-italic text-base font-semibold">Adult</span></p>
                </div>
                <div class="p-4 col-start-2 col-end-4 bg-blue-100 ">
                    <div class="">
                        <div class="bg-white border border-gray-200">

                            <button
                                class="collapsible flex items-center w-full h-full px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
                                type="button">Publisher info:</button>


                            <div class="px-5 hidden">
                                <strong>Number One New York Times Best-Selling Phenomenon</strong>

                                More than seven million copies sold worldwide

                                A Reese Witherspoon x Hello Sunshine Book Club Pick

                                A Business Insider Defining Book of the Decade

                                "I can't even express how much I love this book! I didn't want this story to end!"
                                (Reese Witherspoon)

                                "Painfully beautiful." (The New York Times Book Review)

                                For years, rumors of the "Marsh Girl" have haunted Barkley Cove, a quiet town on the
                                North Carolina coast. So in late 1969, when handsome Chase Andrews is found dead,
                                the locals immediately suspect Kya Clark, the so-called Marsh Girl. But Kya is not
                                what they say. Sensitive and intelligent, she has survived for years alone in the
                                marsh that she calls home, finding friends in the gulls and lessons in the sand.
                                Then the time comes when she yearns to be touched and loved. When two young men from
                                town become intrigued by her wild beauty, Kya opens herself to a new life - until
                                the unthinkable happens.

                                Where the Crawdads Sing is at once an exquisite ode to the natural world, a
                                heartbreaking coming-of-age story, and a surprising tale of possible murder. Owens
                                reminds us that we are forever shaped by the children we once were, and that we are
                                all subject to the beautiful and violent secrets that nature keeps.

                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="">
                <div class="m-4">
                    <p class="text-xl font-semibold">Track your reading history by entering the following:</p>
                    <form class="grid sm:grid-cols-2 lg:grid-cols-3 gap-1">
                        <div class="m-4 w-full h-8 hover:bg-gray- 300 border-black-lg ">
                            <input id="" class="" type="checkbox" /> <label class="ml-1">Put on your Wish
                                List</label>
                        </div>
                        <div class="m-4">
                            <label class="">Start date:</label><br>
                            <input id="mediaSearchInput" class="p-1 bg-gray-100 h-8 border border-black shadow-lg"
                                type="date" />
                        </div>
                        <div class="m-4">
                            <label class="">Finish date:</label><br>
                            <input id="mediaSearchInput" class="p-1 bg-gray-100 h-8 border border-black shadow-lg"
                                type="date" />
                        </div>
                        <div class="m-4">
                            <label class="">Source:</label><br>
                            <input id="mediaSearchInput" class="p-1 bg-gray-100 h-8 border border-black shadow-lg"
                                type="text" />
                        </div>
                        <div class="m-4">
                            <label class="">Recomended by:</label><br>
                            <input id="mediaSearchInput" class="p-1 bg-gray-100 h-8 border border-black shadow-lg"
                                type="text" />
                        </div>
                        <div class="m-4">
                            <label class="">Rate from 1 to 5:</label><br>
                            <input id="mediaSearchInput" class="p-1 bg-gray-100 h-8 border border-black shadow-lg"
                                type="text" />
                        </div>
                        <div class="m-4">
                            <label class="">Personal comments:</label><br>
                            <input id="mediaSearchInput" class="p-1 bg-gray-100 h-8 border border-black shadow-lg"
                                type="text" />
                        </div>
                        <div class="m-4">
                            <label class="">Public review:</label><br>
                            <input id="mediaSearchInput" class="p-1 bg-gray-100 h-8 border border-black shadow-lg"
                                type="text" />
                        </div>
                    </form>
                </div>
            </div>
            <!--ending of entry form-->
        </div>
        <!--end content column 3-9-->
    </div>
    <!--end two column content-->
    <!--Beginning of entry form-->

</body>

<script>
    //for implementing class "collapsible"
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

</body>

</html>