{% extends 'base.html' %}
        {% block sideBar %}
       
        {% endblock sideBar%}

        {% block topBar %}
        <div class="float-right">
            <form action="{% url 'entry-list' col='list' %}", method = "GET">
                <input class="pt-1 px-1 m-2 h-7 w-auto bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Cancel">
            </form>
        </div>
        
        
        {% endblock topBar%}
        {% block main %}

        <div id="main" class="inline-block overflow-scroll w-auto px-4 m-4 bg-gray-400">
            {% include "messages.html" %}
            
            <div class="block h-screen" id="entryListTable">
                <div class=" bg-white ">
                    <table class="" id="entryTable">
                        <thead class="bg-blue-100 border border-blue-800 sticky top-0">
                            <tr class="">                              
                                <th class="px-4 text-xl text-left"> Title</th>
                                <th class="px-4 text-xl text-left"> Author</th>
                                <th class="px-4 text-xl text-left"> Actors</th>
                                <th class="px-4 text-xl text-left"> Type</th>
                                <th class="px-4 text-xl text-left"> User</th>
                                <th class="px-4 text-xl text-left"> Rating</th>           
                                <th class="px-4 text-xl text-left"> </th>           
                                <th class="px-4 text-xl text-left"> </th>           
                            </tr>
                           
                        </thead>
                        <tbody class="" id="entryTbody">
                            {% for entry in entries %}
                            <tr class="border border-gray-400" id= "entry- + {{entry.id}}" >
                                <td class="" style="display:none" id="entryId">{{entry.id}}</td>
                                <td class="w-3/12 p-2"id="entryTitle">{{entry.media.title}}</td>
                                <td class="w-2/12" id="entryAuthor">{{entry.media.author}}</td>
                                <td class="w-2/12" id="entryActors">{{entry.media.actors}}</td>
                                <td class="w-1/12" id="entryType">{{entry.media.media_type}}</td>
                                <td class="w-1/12" id="entryUser">{{entry.user.first_name}}</td>
                                <td class="w-1/12" id="entryRating">{{entry.rating}}</td>
                                <td class="pr-4 text-blue-600">
                                <a href={% url 'entry-edit' pk=entry.id %} id="btn-editEntry" class="w-1/12 btn btn-default" roll="button">View</a>                  
                                </td>
                                <td class="invisible" id="entryUser">{{entry.user.profile.id}}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
</div>    


        {% endblock main %}