{% extends 'base.html' %}
{% load static %}
{% block topBar %}
<div class="float-right">
    <form>
        <div >
            <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center" id="editEntrySave" type="submit" action="" method = "POST" value="Save">
        </div>    
    </form>
</div> 
<div class="float-right">
    <form action="{% url 'entry-list' col='list' %}", method = "GET">
        <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Cancel">
    </form>
</div>

<div class="float-right">
    <form action=""  id="deleteButtonForm">
        <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Delete" id="deleteEntryButton">
    </form>
</div>
<div class="float-right">
    <form action="{% url 'entry-delete' pk=entry.id %}" method = "POST" id="confirmDeleteEntryForm">
        {% csrf_token %}
        <input class="pt-1 m-2 h-7 w-14 bg-blue-600 border-black rounded text-sm text-white text-center" type="submit" value="Confirm Delete" id="confirmDelete" style="display: none">  
    </form>
</div>
<div >
    <p class="text-center text-xl">Entry Detail</p>
</div>
{% endblock topBar %}
{% block main %}

<div class="grid grid-cols-12 gap-1">
    <div class="p-10 row-start-1 row-end-5 col-start-1 col-end-10 sm:col-end-7 md:col-end-5 lg:col-end-4 xl:col-end-3">
        <img class="" src="{% static '/images/defaultbook.png' %}" class="w-48">
    </div>
    <div class="col-start-1 col-end-13 sm:col-start-7   md:col-start-5  lg:col-start-4 lg:col-end-8 xl:col-start-3 xl:col-end-7">
      <form class="mt-5 p-5 border border-blue-400" id="editEntry" action="{% url 'entry-edit' pk=entry.id %}" method=POST >
            {% csrf_token %}
            <!--start column 1-->
            <!--start colunm 2-->
            <div class=" flex-col ">
                <label for="id_title" class="italic">Title: (is read only)</label>
                <input id="input_title" class="block pl-2 not-italic text-lg font-bold border border-blue-400 shadow-lg rounded" type="text" size="20" maxlength="100" name="title" value="{{entry.media.title}}" readonly/> 
                <label for="id_author" class="italic">Author: (is read only)</label>
                <input id="input_author" class="block pl-2 not-italic text-lg font-bold border border-blue-400 shadow-lg rounded" type="text" size="20" maxlength="100" name="author" value="{{entry.media.author}}" readonly/> 
                <label for="id_actors" class="italic">Actors: (is read only)</label>
                <input id="input_actors" class="block pl-2 not-italic text-lg font-bold border border-blue-400 shadow-lg rounded" type="text" size="20" maxlength="100" name="actors" value="{{entry.media.actors}}" readonly/> 
                <label for="id_published" class="italic">Published: (is read only)</label>
                <input id="input_published" class="block pl-2 not-italic text-lg font-bold border border-blue-400 shadow-lg rounded" type="number"  name="published" min="1000" max="2200" value="{{entry.media.published}}" readonly/>
                <label for="id_subject" class="italic">Subject: (is read only)</label><br>
                <input id="input_subject" class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" type="text" size="20" name="subject" value="{{entry.media.subject}}" readonly/><br>
                <label for="id_series" class="italic">Series: (is read only)</label><br>
                <input id="input_series" class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" type="text" size="30" name="series" value="{{entry.media.series}}" readonly/><br>
                <label for="id_audience" class="italic">Audience: (is read only)</label><br>
                <input id="input_audience" class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" type="text" size="20" name="audience" value="{{entry.media.audience}}" readonly/><br>
                <label for="id_media_type" class="italic">Type: (is read only)</label><br>
                <p>{{entry.media.media_type}}</p>           
            </div>
        </form>
    </div>
    <div class="p-5 col-start-1 col-end-13 sm:col-start-7 sm:col-end-13 md:col-start-5 md:col-end-13 lg:col-start-8 lg:col-end-13 xl:col-start-7 xl:col-end-13">
        <div class="">
            <div class="bg-white">
                <button 
                    class="collapsible flex items-center w-auto h-auto px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
                    type="button">Publisher info: (is read only)</button>
                <div class="px-5 visible">
                    <label for="id_promoDesc" class="italic"></label>
                    <textarea id="input_promo_desc" class="not-italic text-base" rows="15" cols="50" name="promo_desc" readonly>{{entry.media.promo_desc}}</textarea>
                </div>
                    
                    

            </div>

        </div>
    </div>
    <div class="flex flex-wrap bg-green-200 col-start-1 col-end-13">

        <form id="entryEditForm" class="bg-green-200 " action="{% url 'entry-edit' pk=entry.id %}" method="POST">
            {% csrf_token %}
            {% load widget_tweaks %}
            <div class="flex flex-wrap m-5 p-1 h-auto w-full col-start-1 col-end-13">
                <div>
                    <label for="id_user" class="italic hidden">User_id:</label>
                    <input id="input_user" class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded hidden" type="text" size="20" name="user" value="{{entry.user.id}}"/>
                    <label for="id_media" class="italic hidden">Media_id:</label>
                    <input id="input_media" class="pl-2 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded hidden" type="text" size="20" name="media" value="{{entry.media.id}}"/>
                    <label for="id_status" class="italic  ml-3 pt-2 ">Status:</label>
                    {% render_field form.status type="radio" class="flex-row  m-1 py-5 font-semibold "%}
                </div>
                <div >
                    <label for="id_tags" class="italic ml-3 pt-2">Tags:</label>
                    {% render_field form.tags class="flex flex-row pl-2 ml-3 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" %}
                </div>
                <div>
                    <label for="id_date_started" class="italic ml-3 pt-2">Date Started:&nbsp &nbsp </label><span class=" text-sm text-white border bg-blue-500 border-black rounded hover:underline shadow-lg"><a id="eStartClick" onclick="todayFormEntry('eStart')" >today</a></span>
                    {% render_field form.date_started id="eStart" class="block pl-2 ml-3 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" %}
                </div>
                <div>
                    <label for="id_source" class="italic ml-3 pt-2">Source:</label>
                    {% render_field form.source class="block pl-2 ml-3 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" %}
                </div>
                <div>
                    <label for="id_recommended_by" class="italic ml-3 pt-2">Recommended by:</label>
                    {% render_field form.recommended_by class="block pl-2 ml-3 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" %}
                </div>
                <div>
                    <label for="id_date_finished" class="italic ml-3 pt-2">Date Finished:&nbsp &nbsp</label><span class=" text-sm text-white border bg-blue-500 border-black rounded hover:underline shadow-lg"><a id="eFinishClick" onclick="todayFormEntry('eFinish')">today</a></span>
                    {% render_field form.date_finished id="eFinish" class="block pl-2 ml-3 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" %}
                </div>
                <div>
                    <label for="id_rating" class="italic ml-3 pt-2">Rating:</label>
                    {% render_field form.rating class="block pl-2 ml-3 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" %} 
                </div>
                <div>
                    <label for="id_my_comment" class="italic ml-3 py-2">My private comment:</label>
                    {% render_field form.my_comment class="block pl-2 ml-3 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" %}
                </div>
                <div class="">
                    <label for="id_review" class="italic ml-3 py-2 ">Review</label>
                    {% render_field form.review class="block pl-2 ml-3 not-italic text-base font-semibold border border-blue-400 shadow-lg rounded" %}
                </div>
            </div>
        </form>
    </div>

</div>  

<script>
    const deleteP = document.getElementById("deleteEntryButton");
    const deleteC = document.getElementById("confirmDelete"); 
    const save = document.getElementById("editEntrySave");
    deleteP.addEventListener('click', deleteEntryConfirm);
    save.addEventListener('click', submitEntrySave);

    function deleteEntryConfirm(event){
        event.preventDefault();
        document.getElementById("deleteEntryButton").classList.add("hidden");
        document.getElementById("editEntrySave").classList.add("hidden");
        deleteP.disabled = true;
        save.disabled = true;   
        
        document.getElementById('confirmDelete').style.display = "inline"
    }

    function submitEntrySave(event){
        event.preventDefault();     
        document.getElementById("entryEditForm").submit();
    };
    
    function todayFormEntry(event){
    var today = new Date()
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = String(today.getFullYear());
    today = mm + '/' + dd + '/' + yyyy

    if (event === "eStart"){
        document.getElementById('eStart').value = today;
    }else if (event === "eFinish"){    
        document.getElementById('eFinish').value = today;
    }
}            


var coll = document.getElementsByClassName("collapsible");
    
    
     for (var i = 0; i < coll.length; i++) {
         coll[i].addEventListener("click", function () {
             this.classList.toggle("active");
             var content = this.nextElementSibling;
             if (content.style.visibility === "visible") {
                 content.style.visibiltiy = "hidden";
             } else {
                 content.style.display = "visible";
             }
         });
     }
</script>
{% endblock main %}