{% extends 'base.html' %}

{% block main %}

<div>
    {% include "messages.html" %}
    <div>
        <h1>Entry Detail </h1>
        <form id="editProfile" action="", method = "POST">
            {% csrf_token %}
            {{ form.as_p}}
            <div class="saveButton">
                <input id="editProfileSave" type="submit" value="Save">
            </div>    
        </form>
        <br>
        <div class="cancelButton">
            <form action="{% url 'profile-list' %}", method = "GET">
                <input type="submit" value="Cancel">
            </form>
        </div>
    
        
        
    </div>    
</div>    

<script>
    const deleteP = document.getElementById("deleteButtonForm");
    const deleteC = document.getElementById("confirmDelete"); 
    const save = document.getElementById("editProfileSave");
    deleteP.addEventListener('click', deleteProfileConfirm);
   

    function deleteProfileConfirm(event){
        event.preventDefault();
        deleteP.disabled = true;
        save.disabled = true;   
        document.getElementById('confirmDelete').style.display = "inline"
    };  

</script>


{% endblock main %}